main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: fit-content;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    input,
    button {
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 1rem;
      
    }
    button {
        background-color: rgb(199, 31, 31);
        color: whitesmoke;
        cursor: pointer;
    }
  }

  p{
    text-align: center;
    font-size: rem;
    a {
      color: rgb(201, 83, 83);
      text-decoration: none;
    font-size: 1.3rem;
    }
  }
}

.home-h{
    text-align: center;
    padding: 5rem;
    font-size: 3rem;
}

