@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(221, 209, 209);
}

.main-card-container {
  border-radius: 30px;
  /* height: 450px; */
  width: 330px;
  background-color: white;
}

.main-card-container {
  width: 330px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.main-card-container .hero {
  position: relative;
  margin: 6px;
}

.main-card-container .hero .hero-follow {
  position: absolute;
  right: 50px;
  top: 15px;
}

.main-card-container .hero .bgc {
  height: 120px;
  width: 100%;
  border-radius: 25px;
}
.main-card-container .hero .bgc img {
  opacity: 0.4;

  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}
.profile-info {
  position: relative;
  margin: 50px 0 0 50px;
}

.profile-info img {
  position: absolute;
  top: -70px;
  left: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-info {
  margin: 20px 0px 0px 50px;
}

.profile-info h1 {
  font-size: 28px;
  font-weight: 500;
}
.profile-info p {
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  color: rgba(0, 0, 0, 0.654);
}

.counter-footer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-self: center;
  justify-content: space-evenly;
}

.counter-footer div {
  padding: 15px;
  margin: 5px;
}

.counter-footer div > h3 {
  font-size: 16px;
  font-weight: 600;
}

.counter-footer div > p {
  font-size: 13px;
  text-align: center;
}

.socail-media {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.socail-media > div > i {
  font-size: 30px;
  padding: 35px;
  margin: 5px;
  text-align: center;
  margin-bottom: 10x;
}
.socail-media > div {
  border: 1px solid rgb(221, 209, 209);
}
