.feed-page {
  display: flex;
  justify-content: center;
  align-items: flex-start; // â— center mat rakhna
  width: 100%;
  min-height: 100vh; // scroll allow karega
  padding-block: 1rem;
}

.feed {
  width: 100%;
  max-width: 350px;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
padding-bottom: 0.6rem;

  .user {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.5rem;


    img {
      width: 2.2rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  > img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .icon {
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5rem;

    .left {
      display: flex;
      gap: 0.8rem;
    }

    svg {
      width: 1.2rem;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
  }

  .caption {
    padding-inline: 0.5rem;
    font-size: 0.85rem;
  }
  .bottom{
    p{
      font-size: 1.2rem;
    }
  }
}
