*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.box1{
    width: 250px;
    height: 250px;
    background: radial-gradient(red , black );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}