* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  /* background-color: #555; */
}


h1{
  /* -webkit-text-stroke: 1px red; */
  color : transparent;
  font-size: 100px;
  text-align: center;
  background: url(https://images.unsplash.com/photo-1766503206581-6824e98f49de?q=80&w=1130&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  background-clip: text;
}