.button {
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor:pointer;
  transition: all ease-in-out 0.2s;

  &.primary-button{
background-color: #d20c3d;
color: whitesmoke;
  }

  &:active{
    transform: scale(0.9);
  }
  
}
