@use "./button.scss";

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

*::selection{
  background: none;
}
html,
body,
#root {
  width: 100%;
  color: #F5F5F5;
  background-color: #0c1014;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

a {
  color: #d20c3d;
  text-decoration: none;
  font-size: large;
}
