* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body ,html {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1761839257475-4ca368dae6c3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
:root{
    --x:400px;
    --y:400px;
}
.box {
  height: 100%;
  width: 100%;
 /* background-color: #555; */
 background:radial-gradient(100px  at var(--x) var(--y),transparent, rgba(0, 0, 0, 0.988));
}