@font-face {
    font-family: BlackFlag;
    src: url(BlackFlag.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: BlackFlag, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: BlackFlag;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #2578d1;
}